[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/gjh10801
[access "refs/for/refs/*"]
	read = group user/gjh10801
	push = group user/gjh10801
	label-Code-Review = -2..+2 group user/gjh10801
	label-Verified = -1..+1 group user/gjh10801
	rebase = group user/gjh10801
	removeReviewer = group user/gjh10801
	submit = group user/gjh10801
[access "refs/heads/*"]
	read = group user/gjh10801
	create = group user/gjh10801
	push = +force group user/gjh10801
	pushMerge = group user/gjh10801
[access "refs/tags/*"]
	push = +force group user/gjh10801
	pushTag = group user/gjh10801
	pushSignedTag = group user/gjh10801
